#footer1{
    color: gainsboro;
    background-color: #000000;
    margin-top: 80px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.container{
    text-align: center;
    width: 100%;
}
.social, .fabri{
    font-size: 1em;
    color: cornsilk;
    text-decoration: none;
}