img{
    width: 100px;
    height: 100px;
    position: relative;
    margin-top: 4px;
    margin-left: 30px;
}
nav{
    background: rgb(2, 35, 51);
    margin: 0% 0px 3% 0;
    padding: 10px;
    border-radius: 9px;
} 
nav ul {
    margin-top: 5px;
    float: right;
    display: flex;
}
nav li{
    list-style: none;
}
.menu{
    text-decoration: none;
    color: cornsilk;
    display: inline-block;
    background: #057da8;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #043040;
    margin-right: 40px;
    margin-top: 15px;
    font-size: 2em;
}
nav li :hover{
    background: #085774;
    text-shadow: 1px 1px 3px aliceblue;
}