body{
    background: #02303d;
    width: 100%;
}
.h1{
    color: floralwhite;
    margin: auto;
    font-size: 4em;
    text-align: center;
}
h2{
    color: floralwhite;
    border-bottom:2px solid floralwhite;
}
table{
    border: 2px solid rgb(11, 57, 75);
    text-align: center;
    background: rgb(4, 28, 32);
    border-radius: 5px;
}
.div_all{
    margin-top: 10px;
    padding-top: 100px;
    padding-bottom: 7%;
}
section{
    border: 5px solid rgb(12, 32, 51);
    margin: 15px;
    padding: 30px  15px;
    border-radius: 20px;
    background: #055166;
    
}
tr, td, th {
    border: 1px solid rgb(5, 50, 68);
    border-radius: 5px;
}
td:hover{
    background:#718580 ;
}
th{
    background:#000 ;
    color: floralwhite;
}
.div_all{
    margin:2% 15%;
}
input{
    width: 80px;
    border-radius: 5px;
    border-color: black;
}
input:hover{
    background: rgb(167, 164, 164);
}
[type="submit"]{
    background: #046487;
    font-weight: 800;
    padding: 5px;
    margin-left: 45%;
    margin-top: 20px;
}
[type="submit"]:hover{
background:#057da8 ;
}
