body{
    background: #02303d;

}
h1{
    color: floralwhite;
    text-align: center;
    font-size: 4em;
    padding-top: 3%;
}
form a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.h2Facturacion{
    color: aliceblue;
    font-size: 2em;
    text-align: center;
}.h2PrecioTotal{
    color: aliceblue;
    font-size: 2em;
}
#valorTotal{
    text-align: right;
    color: rgb(197, 111, 12);
    font-size: 2em;
    font-weight: 800;
    padding: 5px;
    width: 238px;
    border-style: none;
    background:none;
    display: inline-block;
    margin-left: 60%;
}
#valorTotal :hover{
    background: none !important ;
}
tr, td, th {
    border: 1px solid rgb(5, 50, 68);
    border-radius: 5px;
}
label, td{
    color: floralwhite;
    font-weight: 500;
}
 th{
    background:#000 ;
    color: floralwhite;
}
table{
    border: 2px solid rgb(11, 57, 75);
    text-align: center;
    background: rgb(4, 28, 32);
    border-radius: 5px;
    width: 700px;
}
input{
    width: 100px;
    border-radius: 5px;
    border-color: black;
}
[type="submit"]{
    background: #046487;
    font-weight: 800;
    padding: 5px;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 15px;

}.buttonAgregar i :hover{
    
    background: rgb(167, 164, 164);
}
.buttonAgregar{
    
    background: #046487;
    font-weight: 800;
    padding: 5px;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-color: black;
}
button, [type="submit"]:hover{
background:#5ac0e6 ;
}
input:hover{
    background:#057da8;
}
.inputFecha{
    width: 130px;
    border-style: none;
    background: none !important;
    color: rgb(3, 18, 31);
    font-size: 1em;
    font-weight: 700;
}.labelFecha{
    display:inline-block;
    position: absolute;
    margin-left: 26%;
    margin-top: -120px;
}
.divSubmit{
    width: 100%;
    border-bottom: 3px solid #062c3d;
    margin-bottom: 30px;
}
section{
    border: 5px solid rgb(12, 32, 51);
    margin: auto;
    padding: 30px  15px;
    border-radius: 20px;
    background: #055166;
    width: 700px;
    margin-bottom: 5%;
}
.h2carrito{
    color: gainsboro;
    text-align: center;
    font-size: 2em;
    
}
#Nombre{
    width: 350px;
    margin: 2px 20px 30px 5px;
    padding: 0px;
    background: none !important;
    border: none !important;
    color: rgb(139, 33, 0);
    font-size: 2em;
    font-weight: 600;
}
.tdCliente{
    padding: 0px;
    margin: 0px;
}
td{
    empty-cells: hide;
}
.tdVacio , .thVacio{
    border-style: none;
    background: none !important;
}
.EditarVenta, .EliminarVenta{
    font-size: 1em;
}
#BuscarClienteVenta{
    width: 200px;
}
.thtotal{
    background: none !important;
    border: none !important;
}